$key-width: 2.5em;
$key-height: 3.6em;
$key-padding: 0.8em;
$key-gap: 0.4em;
$key-background: #CCC;
$key-active-background: #999;
$key-hover-background: #DDD;


.keyboard {
    margin: 1em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: $key-gap;
    .row {
        display: flex;
        flex-flow: row nowrap;
        gap: $key-gap;
        .key {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 1em;
            text-transform: uppercase;
            padding: $key-padding;
            min-width: $key-width;
            min-height: $key-height;
            background-color: $key-background;
            border-radius: 0.3em;
        }            
        .key:hover {
            background-color: $key-hover-background;
        }
        .key:active, .key.pressed {
            background-color: $key-active-background;
        }
        .key.key-enter, .key.key-backspace {
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1em;
        }
        .key.key-backspace {
            background-image: url('../assets/backspace.svg');
        }
        .key.key-enter {    
            background-image: url('../assets/arrow-turn-down.svg');
        }
    }
}

@media screen and (max-width: 600px) {
    .keyboard {
        font-size: 3.8vw;
        .row {
            gap: 0.3em; 
            .key {
                min-width: 1.9em;
                padding: 0.2em;
            }     
        }       
    }    
}

@media screen and (max-width: 400px) {
    .keyboard {
        margin: 0px 0px 0.5em;
    }    
}