$letter-size: 2em;
$puzzle-gap: 0.4em;
$puzzle-border: #CCC;

$not-present-backgroud: #666;
$present-background: rgb(201, 207, 50);
$unique-background: green;
$active-color: #FFF;


$key-width: 2.5em;
$key-height: 3.6em;
$key-padding: 0.8em;
$key-gap: 0.4em;
$key-background: #CCC;
$key-active-background: #999;
$key-hover-background: #DDD;


*, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 12px;
    font-size: 16px;

    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;
        .help {
            img {
                width: 2em;
                height: 2em;
            }
        }
        h3 {
            font-size: 3em;
        }    
        .about {
            img {
                width: 2em;
                height: 2em;
            }
        }
    }

    .puzzle {
        display: flex;
        flex-flow: column nowrap;
        gap: $puzzle-gap;
        margin: 1em;
        .row {
            display: flex;
            gap: $puzzle-gap;
            .letter {
                font-size: 2em;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;                
                min-width: $letter-size;
                min-height: $letter-size;
                border: 2px solid $puzzle-border;
            }
        }
    }
    .keyboard {
        margin: 1em;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: $key-gap;
        .row {
            display: flex;
            flex-flow: row nowrap;
            gap: $key-gap;
            .key {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-size: 1em;
                text-transform: uppercase;
                padding: $key-padding;
                min-width: $key-width;
                min-height: $key-height;
                background-color: $key-background;
                border-radius: 0.3em;
            }            
            .key:hover {
                background-color: $key-hover-background;
            }
            .key:active, .key.pressed {
                background-color: $key-active-background;
            }  
            .key.not-present {
                background-color: $not-present-backgroud;
            }
            .key.present {
                background-color: $present-background;
            }
            .key.unique {
                background-color: $unique-background;
            }
            .key.not-present, .key.present, .key-unique {
                color: $active-color;
            }
        }
    }

}

@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    .container {
        font-size: calc(2px + 2.2vw)
    }
    
}