@use 'vars';
@use 'header';
@use 'puzzle';
@use 'keyboard';
@use 'modal';

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');


// Reset
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: vars.$default-font-weight;
}

h2, h3, h4 {
    font-weight: vars.$heading-font-weight;
}

* {
    height: 100%;
}

body {
    background-color: vars.$background-color;
    color: vars.$main-color;
}

button {
    background-color: transparent;
    cursor: pointer;
    // font-weight: vars.$default-font-weight;
}

.text-btn {
    color: vars.$text-btn-color;
    background-color: vars.$accent-color3;
    padding: 1em 2em 0.9em;
    min-width: 12ch;
    border-radius: 0.3em;
    text-transform: uppercase;
    font-weight: 700;               
    transform: scale(0.9);
    transition: transform 200ms;
    &:hover, &:active, &:focus {
        transform: scale(1);
    }
}


.icon-btn {
    font-size: inherit;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.7;
    transition: opacity 0.2s, transform 0.2s;
}

.icon-btn:hover {
    opacity: 1;
    transform: translateY(-2px);
}

.container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    height: calc(100% - header.header-height());    
}