
@use 'header';
@use 'puzzle';
@use 'keyboard';
@use 'modal';

// Reset
*, body, ul, li {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
ul {
    list-style: none;
}
body, * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

* {
    height: 100%;
}


button {
    background-color: transparent;
}



.icon-btn {
    cursor: pointer;
    font-size: inherit;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.7;
    transition: opacity 0.2s, transform 0.2s;
}

.icon-btn:hover {
    opacity: 1;
    transform: translateY(-2px);
}

.container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    height: calc(100% - header.header-height());    
}