<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <main class="container">
        <nav>
            <div class="help">
                <img src="question.svg" alt="Help">
            </div>            
            <h3><%= htmlWebpackPlugin.options.title %></h3>
            <div class="about">
                <a href="github.com/elquespera">
                    <img src="github.png" alt="GitHub">
                </a>
            </div>
        </nav>
        <div class="puzzle">
            <div class="row">
                <div class="letter">c</div>
                <div class="letter">r</div>
                <div class="letter">a</div>
                <div class="letter">n</div>
                <div class="letter">e</div>
            </div>
            <div class="row">
                <div class="letter"></div>
                <div class="letter"></div>
                <div class="letter"></div>
                <div class="letter"></div>
                <div class="letter"></div>
            </div>
            <div class="row">
                <div class="letter"></div>
                <div class="letter"></div>
                <div class="letter"></div>
                <div class="letter"></div>
                <div class="letter"></div>
            </div>
            <div class="row">
                <div class="letter"></div>
                <div class="letter"></div>
                <div class="letter"></div>
                <div class="letter"></div>
                <div class="letter"></div>
            </div>
            <div class="row">
                <div class="letter"></div>
                <div class="letter"></div>
                <div class="letter"></div>
                <div class="letter"></div>
                <div class="letter"></div>
            </div>
            <div class="row">
                <div class="letter"></div>
                <div class="letter"></div>
                <div class="letter"></div>
                <div class="letter"></div>
                <div class="letter"></div>
            </div>
        </div>
        <div class="keyboard">
            <div class="row">
                <div class="key">q</div>
                <div class="key">w</div>
                <div class="key">e</div>
                <div class="key">r</div>
                <div class="key">t</div>
                <div class="key">y</div>
                <div class="key">u</div>
                <div class="key">i</div>
                <div class="key">o</div>
                <div class="key">p</div>
            </div>
            <div class="row">
                <div class="key">a</div>
                <div class="key">s</div>
                <div class="key">d</div>
                <div class="key">f</div>
                <div class="key">g</div>
                <div class="key">h</div>
                <div class="key">j</div>
                <div class="key">k</div>
                <div class="key">l</div>
            </div>
            <div class="row">
                <div class="key enter">enter</div>
                <div class="key">z</div>
                <div class="key">x</div>
                <div class="key">c</div> 
                <div class="key">v</div>
                <div class="key">b</div>
                <div class="key">n</div>
                <div class="key">m</div>
                <div class="key return">return</div>
            </div>
        </div>
    </main>
    <!-- <footer>
        <img id="gitHubLogo" src="github.png" alt="GitHub">
    </footer> -->
</body>
</html>