<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <header>
        <div class="menu">
            <button class="icon-btn help-btn"></button>
            <button class="icon-btn stats-btn"></button>
        </div>            
        <h1><%= htmlWebpackPlugin.options.title %></h1>
        <div class="menu">
            <button class="icon-btn reset-btn"></button>
            <button class="icon-btn settings-btn"></button>
        </div>
    </header>
    <main class="container">        
        <div id="puzzle" class="puzzle">
        </div>
        <div class="keyboard">
        </div>
    </main>        
    <div class="error-msg"></div>
    <div class="modal-overlay">
        <div class="modal">
            <button class="icon-btn close-btn">                   
            </button> 
            <div id="stats" class="pane stats">
            </div>
            <div id="help" class="pane help">
            </div>
            <div id="settings" class="pane settings">                
            </div>
            <div id="reset" class="pane reset">                
            </div>
        </div>
    </div>
</body>
</html>